.head-cont button{
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-weight: bold;
}
.head-cont button:hover{
    background-color: #1e40af;
    transform: scale(1.1);
    transition: all 0.3s ease;
}